[submodule "ss_pix"]
	path = ss_pix
	url = https://github.com/dushoff/ss_pix.git
[submodule "Generation_distributions"]
	path = Generation_distributions
	url = https://github.com/dushoff/Generation_distributions.git
[submodule "fitting_code"]
	path = fitting_code
	url = https://github.com/dushoff/fitting_code.git
[submodule "SIR_model_family"]
	path = SIR_model_family
	url = https://github.com/dushoff/SIR_model_family.git
[submodule "SIR_simulations"]
	path = SIR_simulations
	url = https://github.com/dushoff/SIR_simulations.git
[submodule "Disease_data"]
	path = Disease_data
	url = https://github.com/mac-theobio/Disease_data.git
[submodule "makestuff"]
	path = makestuff
	url = https://github.com/dushoff/makestuff
	branch = master
