commit.time
target.mk
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

talkdir
web_drop
my_images
local.txt.format
txt.format

*.deps
*.nav
*.snm
*.tex
*.toc

*.makestuff
up.time
